extends layout 

block content
    .w3-card-4
     header.w3-container.w3-teal
      h3.w3-left Registo 
    .w3-container
     br
     form(class="w3-container" action='/alunos', method='POST')
      label(class="w3-text-blue-gray")
       b Número de aluno:
      input(class="w3-input w3-border w3-light-grey", type="text", name="Número", required, placeholder="AXXXXX/PGXXXXX", pattern="(A|PG)[1-9][0-9]{4}")    

      label(class="w3-text-blue-gray")
       b Nome:
      input(class="w3-input w3-border w3-light-grey", type="text", name="Nome", required)    

      label(class="w3-text-blue-gray") 
       b Link GitHub:
      input(class="w3-input w3-border w3-light-grey", type="text", name="Git", placeholder="Opcional") 

      label(class="w3-text-blue-gray") 
       b TPC's completados:
       br
      - var count=1
       while count<9
        | TPC#{count}
        | 
        input(type="checkbox", name=`tpc${count}`)   
        br
        - count++
       br
       input(class="w3-btn w3-blue-grey" type="submit" value="Registar")            
       input(class="w3-btn w3-blue-grey" type="reset" value="Limpar Valores" style="margin-left:10px")
      br
     a(href=`/alunos` ) 
       button(class="w3-btn w3-teal" type="submit" style="margin:18px") Cancelar  
